/.vscode
/EncadenandoTroll.exe
/EncadenandoTroll.ilk
/EncadenandoTroll.obj
/EncadenandoTroll.pdb
/HaciendoPajaritas.exe
/HaciendoPajaritas.ilk
/HaciendoPajaritas.obj
/HaciendoPajaritas.pdb
/JanElOlvidado.exe
/JanElOlvidado.ilk
/JanElOlvidado.obj
/JanElOlvidado.pdb
/Moviles.exe
/Moviles.ilk
/Moviles.obj
/Moviles.pdb
/P2.exe
/P2.ilk
/P2.obj
/P2.pdb
/P3.exe
/P3.ilk
/P3.obj
/P3.pdb
/PoliDivisible.exe
/PoliDivisible.ilk
/PoliDivisible.obj
/PoliDivisible.pdb
/PoniendoLaMesa.exe
/PoniendoLaMesa.ilk
/PoniendoLaMesa.obj
/PoniendoLaMesa.pdb
/PruebaIterativos.exe
/PruebaIterativos.ilk
/PruebaIterativos.obj
/PruebaIterativos.pdb
/PruebaRecursivos.exe
/PruebaRecursivos.ilk
/PruebaRecursivos.obj
/PruebaRecursivos.pdb
/SinUnos.exe
/SinUnos.ilk
/SinUnos.obj
/SinUnos.pdb
/SumaDigitos.exe
/SumaDigitos.ilk
/SumaDigitos.obj
/SumaDigitos.pdb
/TresdedosMano.exe
/TresdedosMano.ilk
/TresdedosMano.obj
/TresdedosMano.pdb
/vc140.pdb
Calculadora(P220).exe
Calculadora(P220).ilk
Calculadora(P220).obj
Calculadora(P220).pdb
CifrasOperadores(P361).exe
CifrasOperadores(P361).ilk
CifrasOperadores(P361).obj
CifrasOperadores(P361).pdb
Limpios.exe
Limpios.ilk
Limpios.obj
Limpios.pdb
PlanificandoUvas(P491).exe
PlanificandoUvas(P491).ilk
PlanificandoUvas(P491).obj
PlanificandoUvas(P491).pdb
Enero1(2023).exe
Enero1(2023).ilk
Enero1(2023).obj
Enero1(2023).pdb
Enero2_2023.exe
Enero2_2023.ilk
Enero2_2023.obj
Enero2_2023.pdb
Enero3_2023.exe
Enero3_2023.ilk
Enero3_2023.obj
Enero3_2023.pdb
PruebaVueltaAtras.exe
PruebaVueltaAtras.ilk
PruebaVueltaAtras.obj
PruebaVueltaAtras.pdb
AprobarVinos.exe
AprobarVinos.ilk
AprobarVinos.obj
AprobarVinos.pdb
Cumpleaños.exe
Cumpleaños.ilk
Cumpleaños.obj
Cumpleaños.pdb
Mudanzas.exe
Mudanzas.ilk
Mudanzas.obj
Mudanzas.pdb
prueba.cpp
Cumpleanos.exe
Cumpleanos.ilk
Cumpleanos.obj
Cumpleanos.pdb
